:root {
  --base03:  #002b36;
  --base02:  #073642;
  --base01:  #586e75;
  --base00:  #657b83;
  --base0:   #839496;
  --base1:   #93a1a1;
  --base2:   #eee8d5;
  --base3:   #fdf6e3;

  --yellow:  #b58900;
  --orange:  #cb4b16;
  --red:     #dc322f;
  --magenta: #d33682;
  --violet:  #6c71c4;
  --blue:    #268bd2;
  --cyan:    #2aa198;
  --green:   #859900;

  --bg: var(--base3);
  --hl: var(--base2);
  --fg: var(--base00);
  --emph: var(--base01);
  --comment: var(--base1);

  --bgi: var(--base03);
  --hli: var(--base02);
  --fgi: var(--base0);
  --emphi: var(--base1);
  --commenti: var(--base01);

  --accent: var(--yellow);
  --accenti: var(--cyan);

  --transition-style: 200ms ease;
  --color-transition: var(--transition-style) background, var(--transition-style) color;
}

:root * {
  transition: var(--color-transition);
}

#darkmode {
  display: none;
}

label[for=darkmode] {
  background: var(--hl);
  user-select: none;
  cursor: pointer;
  padding: 1em;
  align-self: flex-end;
  margin-left: auto;
  color: var(--accent);
}

label[for=darkmode]:focus,
label[for=darkmode]:hover {
  font-weight: 600;
}

label[for=darkmode]:active {
  background: var(--bgi);
  color: var(--accenti);
}

#darkmode:checked ~ * {
  --bg: var(--base03);
  --hl: var(--base02);
  --fg: var(--base0);
  --emph: var(--base1);
  --comment: var(--base01);

  --bgi: var(--base3);
  --hli: var(--base2);
  --fgi: var(--base00);
  --emphi: var(--base01);
  --commenti: var(--base1);

  --accent: var(--cyan);
  --accenti: var(--yellow);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 18px;
}

.background {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}

* {
  box-sizing: border-box;
}

.column {
  flex: 1;
  max-width: 80ch;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 0 1ch;
}

h1 {
  color: var(--accent);
}

code.inline {
  background: var(--hl);
  border-radius: 5px;
}

pre.codeblock {
  max-width: 98vw;
  transition: var(--color-transition), var(--transition-style) border;
  border-left: 1ch solid var(--hl);
  margin-left: -1ch;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

a:focus,
a:hover {
  text-decoration: underline;
  outline: none;
}

nav {
  background: var(--hl);
  color: var(--emph);
  display: flex;
}

nav a {
  user-select: none;
  padding: 1em;
}

nav a:active {
  background: var(--bg);
}

nav a.current {
  pointer-events: none;
  
  color: var(--comment);
  background: var(--bg);
}

footer {
  height: 3em;
  background: var(--hl);
}

.post time {
  color: var(--fg);
  text-decoration: none;
}

.posts-list .post:focus-within,
.posts-list .post:hover {
  transition-duration: 100ms;
  background: var(--hl);
}
