:root {
  --base03:  #002b36;
  --base02:  #073642;
  --base01:  #586e75;
  --base00:  #657b83;
  --base0:   #839496;
  --base1:   #93a1a1;
  --base2:   #eee8d5;
  --base3:   #fdf6e3;

  --yellow:  #b58900;
  --orange:  #cb4b16;
  --red:     #dc322f;
  --magenta: #d33682;
  --violet:  #6c71c4;
  --blue:    #268bd2;
  --cyan:    #2aa198;
  --green:   #859900;

  --bg: var(--base3);
  --hl: var(--base2);
  --fg: var(--base01);
  --emph: var(--base02);
  --comment: var(--base1);

  --bgi: var(--base03);
  --fgi: var(--base0);
  --hli: var(--base02);
  --emphi: var(--base1);
  --commenti: var(--base01);

  --accent: var(--yellow);
  --accenti: var(--cyan);

  --color-transition: 200ms ease background, 200ms ease color;
}

#darkmode {
  display: none;
}

label[for=darkmode] {
  transition: var(--color-transition);
  background: var(--hl);
  user-select: none;
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
  color: var(--accent);
}

label[for=darkmode]:active {
  background: var(--bgi);
  color: var(--accenti);
}

#darkmode:checked ~ * {
  --bg: var(--base03);
  --fg: var(--base0);
  --hl: var(--base02);
  --emph: var(--base1);
  --comment: var(--base01);

  --bgi: var(--base3);
  --hli: var(--base2);
  --fgi: var(--base01);
  --emphi: var(--base02);
  --commenti: var(--base1);

  --accent: var(--cyan);
  --accenti: var(--yellow);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'mono';
  font-size: 18px;
}

.background {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  transition: var(--color-transition);
  background: var(--bg);
  color: var(--fg);
}

* {
  box-sizing: border-box;
}

.column {
  flex: 1;
  max-width: 82ex;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 0 1ex;
}

h1 {
  color: var(--accent);
}

code blockquote {
  transition: var(--color-transition);
  background: var(--hl);
  color: var(--fg);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

a:focus,
a:hover {
  text-decoration: underline;
  outline: none;
}

nav {
  transition: var(--color-transition);
  background: var(--hl);
  color: var(--emph);
  display: flex;
}

nav a {
  user-select: none;
  padding: 1rem;
  transition: var(--color-transition);
}

nav a:active {
  background: var(--bg);
}

nav a.current {
  pointer-events: none;
  
  color: var(--comment);
  background: var(--bg);
}
