:root {
  --bg:       #fbf3db;
  --hl:       #ece3cc;
  --fg:       #53676d;
  --emph:     #3a4d53;
  --comment:  #909995;

  --bgi:       #103c48;
  --hli:       #184956;
  --fgi:       #adbcbc;
  --emphi:     #cad8d9;
  --commenti:  #72898f;

  --red:      #d2212d;
  --green:    #489100;
  --yellow:   #ad8900;
  --blue:     #0072d4;
  --magenta:  #ca4898;
  --cyan:     #009c8f;
  --orange:   #c25d1e;
  --violet:   #8762c6;

  --accent: var(--yellow);
  --accenti: var(--cyan);

  --transition-style: 200ms ease;
  --color-transition: var(--transition-style) background, var(--transition-style) color;
}

#darkmode:checked ~ * {
  --bg:       #103c48;
  --hl:       #184956;
  --fg:       #adbcbc;
  --emph:     #cad8d9;
  --comment:  #72898f;

  --bgi:      #fbf3db;
  --hli:      #ece3cc;
  --fgi:      #53676d;
  --emphi:    #3a4d53;
  --commenti: #909995;

  --red:      #fa5750;
  --green:    #75b938;
  --yellow:   #dbb32d;
  --blue:     #4695f7;
  --magenta:  #f275be;
  --cyan:     #41c7b9;
  --orange:   #ed8649;
  --violet:   #af88eb;

  --accent: var(--cyan);
  --accenti: var(--yellow);
}

:root * {
  transition: var(--color-transition);
}

#darkmode {
  display: none;
}

label[for=darkmode] {
  background: var(--hl);
  user-select: none;
  cursor: pointer;
  padding: 1em;
  align-self: flex-end;
  margin-left: auto;
  color: var(--accent);
}

label[for=darkmode]:focus,
label[for=darkmode]:hover {
  font-weight: 600;
}

label[for=darkmode]:active {
  background: var(--bgi);
  color: var(--accenti);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 18px;
}

.background {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}

* {
  box-sizing: border-box;
}

.column {
  flex: 1;
  max-width: 80ch;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 0 1ch;
}

h1 {
  color: var(--accent);
}

code.inline {
  background: var(--hl);
  border-radius: 5px;
}

pre.codeblock {
  max-width: 98vw;
  transition: var(--color-transition), var(--transition-style) border;
  border-left: 1ch solid var(--hl);
  margin-left: -1ch;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

a:focus,
a:hover {
  text-decoration: underline;
  outline: none;
}

nav {
  background: var(--hl);
  color: var(--emph);
  display: flex;
}

nav a {
  user-select: none;
  padding: 1em;
}

nav a:active {
  background: var(--bg);
}

nav a.current {
  pointer-events: none;
  
  color: var(--comment);
  background: var(--bg);
}

footer {
  height: 3em;
  background: var(--hl);
}

.post time {
  color: var(--fg);
  text-decoration: none;
}

.posts-list .post:focus-within,
.posts-list .post:hover {
  transition-duration: 100ms;
  background: var(--hl);
}
