code[class*="language-"],
pre[class*="language-"] {
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  tab-size: 4;
  hyphens: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.namespace,
.token.namespace > .token.punctuation,
.token.cdata {
  color: var(--comment);
}

.language-tsx .token.tag > .token.script,
.token.operator,
.token.punctuation {
  color: var(--fg);
}

.token.class,
.token.class-name,
.token.maybe-class-name,
.token.function,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--blue);
}

.token.id,
.token.boolean,
.token.number,
.token.attr-value,
.token.string,
.token.char,
.token.url,
.token.keyword.nil,
.token.tag > .token.attr-value > .token.punctuation:not(.attr-equals),
.token.inserted {
  color: var(--cyan);
}

.token.combinator,
.token.variable,
.token.interpolation-punctuation,
.token.entity {
  color: var(--red);
}

.token.selector,
.token.atrule,
.token.keyword {
  color: var(--green);
}

.token.property,
.token.builtin,
.token.class-name.known-class-name,
.token.attr-name {
  color: var(--yellow);
}

.token.pseudo-class,
.token.attribute,
.token.regex,
.token.important {
  color: var(--orange);
}

.token.combinator,
.token.important,
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}
